<template>
  <div>
    <CustomCodePrev v-for="(customcode, index) in customcode"
        :customcode="customcode"
        :key="customcode.code + index"/>

  </div>
</template>

<script>
import { mapGetters } from "vuex";
import {GET_CUSTOM_COMPS} from '@/store/actions.type';
import CustomCodePrev from './CustomCodeView'
export default {
  name: 'Home',
    components:{
    CustomCodePrev
  },
  props: {
    msg: String,

  },

  computed:{
    ...mapGetters(["customcode"])
  },
   mounted() {
    this.$store.dispatch(GET_CUSTOM_COMPS);
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
