<template>

<div >
 
<form 
  id="updateForm"
  @submit="checkForm"
  method="post">
          <fieldset class="form-group">
                <legend>Email:</legend>
                <input
                  class="form-control"
                  type="text"
                  v-model="user.email"
                  placeholder="Email"
                />
          </fieldset> 
          <fieldset class="form-group">
                <legend>Image:</legend>
                <input
                  class="form-control"
                  type="text"
                  v-model="user.image"
                  placeholder="URL of profile picture"
                />
          </fieldset>
                 <fieldset class="form-group">
                <legend>Bio:</legend>
                <input
                  class="form-control"
                  type="text"
                  v-model="user.bio"
                  placeholder="Bio"
                />
          </fieldset>
 <p>
    <input
      type="submit"
      value="Enviar"
    >
  </p>
</form>


</div>
</template>


<script>
import { mapGetters } from "vuex";
import{GET_PROFILE,UPDATE_PROFILE} from "@/store/actions.type"
import ApiService from "@/common/api.service";

export default {
    name: "Profile",
    components:{

    },
     computed:{
        ...mapGetters(["user"])
    },
    props:{
    errors: [],
   
    },
    methods:{
      checkForm: function(e){
        this.$store.dispatch(UPDATE_PROFILE, this.user);

        e.preventDefault();
      }
    },
    mounted(){
          ApiService.setHeader(this.$route.params.token);

        this.$store.dispatch(GET_PROFILE, this.$route.params);
    },

   
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>